<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        {{- if eq .Page.Title .Site.Title -}}
        {{- .Site.Title -}}
        {{- else if eq .Page.Title "_" -}}
        {{- .Site.Title -}}
        {{- else -}}
        {{- .Page.Title }} - {{ .Site.Title -}}
        {{- end -}}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/{{ .Site.Params.assets.favicon }}">
    <meta name="Description" content="{{ .Site.Title }} - {{ .Site.Params.info.description }}"/>
    <link href="{{ .Site.BaseURL }}/css/css.css" rel="stylesheet">
    <style type="text/css">
        .text a{color:#c33;}
        #infscr-loading{text-align:center;margin:auto;}
        </style>
        <script type="text/javascript">
        function skin(o){
            var w = o.width,
                h = o.height,
                c = w/h,
                pw = o.parentNode.offsetWidth,
                ph = o.parentNode.offsetHeight,
                pc = pw/ph;
            if(c<pc){
                o.style.width = pw+'px';
                o.style.height = 'auto';
                o.style.marginLeft = '0px';
                o.style.marginTop = -(pw/c-ph)/2 + 'px';
            }else{
                o.style.height = ph+'px';
                o.style.width = 'auto';
                o.style.marginTop = '0px';
                o.style.marginLeft = -(ph*c-pw)/2 + 'px';
            }
        }
        window.onresize = function(){skin(document.getElementById('bg'))}
        </script>
        {{ partial "extras/ga" . }}
</head>

<div class="bbg">
    <img id="bg" src="{{ .Site.BaseURL }}/bg.jpg" />
</div>

<body>

<div class="head">
    <div class="navlist">
        <a href="{{ .Site.BaseURL }}/tags">Tags</a>/
        <a href="{{ .Site.BaseURL }}/index.xml">Rss</a>
    </div>
    <h1 class="title"><a href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a></h1>
    <div class="text">{{ .Site.Params.info.description }}</div>
</div>

<div class="wrap">