<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>只言片语</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="static/icon.jpg">
    <meta name="Keywords" content="只言片语 - 日记,胡言乱语,随想,碎碎念,语录,转,"/>
    <meta name="Description" content="只言片语 - 我很健忘，所以把这些话都记下来。"/>
    <link href="static/css/css.css" type="text/css" rel="stylesheet">
</head>

<body>

<div class="bbg">
    <img id="bg" src="static/bg.jpg" onload="skin(document.getElementById('bg'))" />
</div>

<div class="head">
    <div class="navlist">
        <a href="view">归档</a>/
        <a href="rss">RSS</a>
    </div>
    <h1 class="title"><a href="/">只言片语</a></h1>
    <div class="text">我很健忘，所以把这些话都记下来。</div>
</div>
<div class="wrap">

            <div class="box article">
            <div class="title"><a href="http://zhypy.lofter.com/post/43c865_12158f72">2018-01-21</a></div>
                <div class="content">
                    <div class="text">
                            <p dir="ltr">金钱不仅能买到时间，还可以买到空间。<br />想起四年级思想品德课上有一次讨论，给金钱健康什么的排序，然后大家一致认为健康是1，其余的是0，除了我和另一个学习好的认为金钱是1，别的是0。<br />争论的结果是，老师强制结束话题，总结健康要排第一位，没了健康别的都是0。<br />大家都没错，只是角度不同。老师不想让我们变得市井，而我和另一个同学太过于成熟，而且固执，其余的同学可能真的有淡泊名利的人吧。<br />不知道现在的他们会不会还这样想。</p> 
<p dir="ltr">金钱也可以买到身体，买到人心，买到医疗设施，买到任何你想要的。</p> 
<p dir="ltr">人为财死，鸟为食亡。亘古不变。</p>
                    </div>
                        <div class="link">
                            <a href="http://zhypy.lofter.com/post/43c865_12158f72" class="date">2018-01-21</a>
                        </div>
                    </div>
                </div>

        
            <div class="box article">
            <div class="title"><a href="http://zhypy.lofter.com/post/43c865_12153863">2018-01-21</a></div>
                <div class="content">
                    <div class="text">
                        <p dir="ltr">大人们总喜欢按照自己的方式让孩子“开心”</p>
                    </div>
                        <div class="link">
                            <a href="http://zhypy.lofter.com/post/43c865_12153863" class="date">2018-01-21</a>
                        </div>
                    </div>
                </div>

        
            <div class="box article">
            <div class="title"><a href="http://zhypy.lofter.com/post/43c865_120e055e">2018-01-16</a></div>
                <div class="content">
                    <div class="text">
                        <p dir="ltr">曾经没有点点滴滴</p>
                    </div>                        
                        <div class="tags"><a href="">#胡言乱语</a><a href="">#日记</a></div>
                        <div class="link">
                            <a href="http://zhypy.lofter.com/post/43c865_120e055e" class="date">2018-01-16</a>  
                        </div>
                    </div>
                </div>

            <div class="page">
                <a href="prev" class="prev">&lt;&lt;上一页</a>
                <a href="next" class="next">下一页&gt;&gt;</a>
            </div>
            
            
        </div>

<div class="foot">
    <span title="Copyright" style="cursor:pointer;">&copy;</span>&nbsp;
    <a href="http://zhypy.lofter.com/">只言片语</a>
    &nbsp;|&nbsp;Powered by <a href="http://www.lofter.com">LOFTER</a>
</div>
        

</body>
</html>
    